[project]
	description = This module provides Custom Providers for Red Hat Network Registering.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gaël Chamoulaud (strider)
[access "refs/for/refs/*"]
	read = group user/Gaël Chamoulaud (strider)
	push = group user/Gaël Chamoulaud (strider)
	label-Code-Review = -2..+2 group user/Gaël Chamoulaud (strider)
	label-Verified = -1..+1 group user/Gaël Chamoulaud (strider)
	rebase = group user/Gaël Chamoulaud (strider)
	removeReviewer = group user/Gaël Chamoulaud (strider)
	submit = group user/Gaël Chamoulaud (strider)
[access "refs/heads/*"]
	read = group user/Gaël Chamoulaud (strider)
	create = group user/Gaël Chamoulaud (strider)
	push = +force group user/Gaël Chamoulaud (strider)
	pushMerge = group user/Gaël Chamoulaud (strider)
[access "refs/tags/*"]
	push = +force group user/Gaël Chamoulaud (strider)
	pushTag = group user/Gaël Chamoulaud (strider)
	pushSignedTag = group user/Gaël Chamoulaud (strider)
